
.wrap{overflow:hidden;}
/* HEAD */
.header_wrap{}
.header_wrap .tit{}
.header_wrap .status_area{}
.header_wrap .status_area .user_id{}
.header_wrap .status_area a{}

/* LNB */
.lnb_wrap{width: 240px;}

/* CONTENT */
.container{width:100%;}
.container .content{width:calc(100% - 240px);}

/* FOOT */