
.wrap{overflow:hidden;}
/* HEAD */
.header{height:35px;background: #002b7a;}
.header .tit{float:left;width:240px;font-size: 16px;line-height: 33px;color: #fff;padding-left: 80px;}
.header_wrap{float:left;width:calc(100% - 240px);}
.header_wrap .status_area{width:960px;margin:0 auto;text-align: right;}
.header_wrap .status_area .user_id{display:inline-block;font-size: 12px;line-height: 33px;font-weight: 300;color: #fff;}
.header_wrap .status_area a{display:inline-block;font-size: 12px;line-height: 33px;font-weight: 300;color: #fff;margin-left: 20px;}

/* LNB */
.lnb{float:left;width: 240px;}
.lnb_wrap .logo a{display: block;height:75px;background: #fff url(../images/common/ico_logo.png) center center no-repeat;text-indent: -9999px;font-size: 0;}
.lnb_wrap ul{border-top: 1px solid #ececec;}
.lnb_wrap li .menu_tit{display:block;height:44px;font-size: 15px;line-height: 44px;font-weight: 500;background: #fff url(../images/common/ico_lnb_arrow_off.png) right 24px center no-repeat;border-bottom: 1px solid #ececec;color: #002b7a;padding-left: 34px;}
.lnb_wrap li .menu_cont{border-bottom: 1px solid #ececec;background: #f9fafd;padding: 10px 0;}
.lnb_wrap li .menu_cont a{position:relative;display:block;line-height: 26px;padding: 0 47px;font-size: 14px;color: #676767;}
.lnb_wrap li .menu_cont a:before{position:absolute;top:0;left:40px;content:'-';display:inline-block;line-height: 26px;font-size: 14px;color: #676767;}
.lnb_wrap li.on .menu_tit{background-image:url(../images/common/ico_lnb_arrow_on.png);}

/* CONTENT */
.container{width:100%;overflow: hidden;}
.container .cont_wrap{float:left;width:calc(100% - 240px);padding-bottom: 100px;}
.container .cont_wrap .content{width:960px;margin:0 auto;}
.container .cont_wrap .cont_box{margin-top: 20px;}

/* FOOT */
.foot_wrap{background: #e6e6e6;}
.foot_wrap p{font-size: 10px;line-height: 40px;font-weight: 300;color: 666;text-align: center;}