@media screen and (max-width:1200px){
.lnb{display:none;}
.container .cont_wrap{width:100%}
}

@media screen and (max-width:960px){
.lnb{display:none;}
.container .cont_wrap{width:100%;padding: 0 10px 100px;}
.container .cont_wrap .content{width:100%;min-width:320px;}

.dashboard_list{width: 100%;}

.dashboard_list li:first-of-type{margin-left: 0;}
}
